[submodule "crazyflie-link-cpp"]
	path = crazyflie-link-cpp
	url = https://github.com/longlongago-zsc/crazyflie-link-cpp.git
[submodule "boost"]
	path = boost
	url = https://github.com/boostorg/boost.git
